body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

article img {
    width: 100px;
}

aside {
    flex: 1;
    overflow-y: auto;
}


/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

header div {
    text-align: center;
}

.logo {
    width: 80px;
    text-align: center;
}